body{
    height : 100%;
    width: 100%;

    padding: 0px;
    margin : 0px;
    border : 0px;

    display : grid;
    grid-template-columns: 15fr 70fr 15fr; /* column content column*/
    grid-template-rows: 20fr 70fr 10fr; /* header body footer */
    
}

header{
    margin: 0px;
    padding: 10px 40px;
    border: 2px solid black;
    color: transparent;

    grid-column: 1 / span 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.logo{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
nav > ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ol > li{
    display : inline;
}

a{
    color: black;
    text-decoration: none;
}

.active > a {
    color: black;
    background-color:yellow;
    padding: 0.1em 0.2em;
    border-radius: 15px;
}

/* Tableaux affichant les tables de la BDD */

*{
    font-family: sans-serif; /* Change your font family */
}
  
.Conteneur-Tableau {
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
    justify-content: center;
    align-items: center;
    
}

.TableauBDD {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 70%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
.TableauBDD thead tr th {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.TableauBDD th, .TableauBDD td {
    padding: 12px 15px;
}
  
.TableauBDD tbody tr {
    border-bottom: 1px solid #dddddd;
    align-content: center;
}
  
.TableauBDD tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}
  
.TableauBDD tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.TableauBDD tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}
